# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
*.gem
.bundle
vendor/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Environment
.env
.env.local

# Node.js
node_modules/

# Qiita CLI
qiita/public/.remote/
qiita-preview/*
!qiita-preview/README.md
!qiita-preview/qiita.config.json

# workspace files
workspace/
