{% assign tag_list = include.tags %}
{% if tag_list %}
<div class="post-tags">
    {% assign tag_data_list = site.data.tags %}
    {% for tag in tag_list %}
    {% assign tag_data = tag_data_list | where: "name", tag | first %}
    {% if tag_data %}
    {% assign tag_url = '/tags/' | append: tag_data.slug | append: '/' %}
    {% else %}
    {% assign tag_url = '/tags/?tags=' | append: tag | uri_escape %}
    {% endif %}
    <a class="tag" href="{{ tag_url | relative_url }}">{{ tag }}</a>
    {% endfor %}
</div>
{% endif %}
